@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row d-flex justify-content-center">
    <div class="col-lg-6 text-center">
        <h2>About</h2>
        <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
    </div>
</div>

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="row gy-4">
            <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
                <img src="~/HomeLayout/assets/img/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 content order-last  order-lg-first">
                <h3>About Us</h3>
                <p>
                    At MyCents, we believe managing personal finances should be simple, easy, and accessible to everyone. We understand that tracking expenses and keeping a budget can be daunting tasks, which is why we created our expense manager app.
                </p>
                <p>
                    Our team of experienced developers and financial experts collaborated to design an app that not only simplifies expense tracking, but also provides useful insights and personalized recommendations to help users reach their financial goals.
                </p>
                <p>
                    Our app is designed with user privacy and security in mind. We take data protection seriously and have implemented the necessary measures to ensure that our users' information is secure and only accessible to them.
                </p>
                <p>
                    At MyCents, our mission is to empower our users to take control of their finances and achieve financial freedom. We are dedicated to continuously improving our app and providing exceptional customer support to ensure that our users have the best possible experience.
                </p>
                <p>
                    Thank you for choosing MyCents as your trusted expense management solution.
                </p>
            </div>
        </div>

    </div>
</section>
<!-- End About Us Section -->