@using System.Data;
@using Expense_Manager.BAL;
@{
	ViewData["Title"] = "Graphs";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="mb-2">
	<a class="btn btn-secondary" asp-area="Logs" asp-controller="Logs" asp-action="Index" asp-route-Logbook_Id="@CV.Logbook_Id()">
		<i class="align-middle me-2" data-feather="chevron-left"></i>
	</a>
</div>

<div class="col-12 col-lg-6 mx-auto">
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">Bar Chart</h5>
			<h6 class="card-subtitle text-muted">A bar chart provides a way of showing data values represented as vertical bars.</h6>
		</div>
		<div class="card-body">
			<div class="chart">
				<canvas id="chartjs-bar"></canvas>
			</div>
		</div>
	</div>
</div>

<script>
	var gdata = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
	var rdata = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
	//var data = [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]];
</script>

@foreach(DataRow dr in Model.Rows)
{
	<script>
		gdata[@Convert.ToInt32(dr["month"].ToString()) -1] = (@Math.Abs(Convert.ToInt32(dr["TotalIncome"].ToString())));
		rdata[@Convert.ToInt32(dr["month"].ToString()) -1] = (@Math.Abs(Convert.ToInt32(dr["TotalExpense"].ToString())));
	</script>
}
<script>
	//console.log(data[0]);
</script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Bar chart
		new Chart(document.getElementById("chartjs-bar"), {
			type: "bar",
			data: {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
					label: "Income",
					backgroundColor: window.theme.success,
					borderColor: window.theme.success,
					hoverBackgroundColor: window.theme.success,
					hoverBorderColor: window.theme.success,
					data: gdata,
					//data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
					barPercentage: .75,
					categoryPercentage: .5
				}, {
					label: "Expenditure",
					backgroundColor: window.theme.danger,
					borderColor: window.theme.danger,
					hoverBackgroundColor: window.theme.danger,
					hoverBorderColor: window.theme.danger,
					//data,
					data: rdata, //[69, 66, 24, 48, 52, 51, 44, 53, 62, 79, 51, 68],
					barPercentage: .75,
					categoryPercentage: .5
				}]
			},
			options: {
				maintainAspectRatio: false,
				legend: {
					display: true
				},
				scales: {
					yAxes: [{
						gridLines: {
							display: true
						},
						stacked: false,
						ticks: {
							stepSize: 500
						}
					}],
					xAxes: [{
						stacked: false,
						gridLines: {
							color: "transparent"
						}
					}]
				}
			}
		});
	});
</script>