@using Expense_Manager.Areas.Income.Models;
@{
ViewData["Title"] = "Income Form";
Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model SourceModel


<section class="section">
<div class="row">
    <div class="col-lg-6
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Enter the details of Income :</h5>
<form method="post" asp-area="Income" asp-controller="Sources" asp-action="Save">
                @Html.HiddenFor(x=>x.Source_Id)
<div class="row mb-3">
    <label for="Income_Name" class="col-sm-2 col-form-label">Enter Income Name :</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" asp-for="Source_Name">
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-10">
        <input type="submit" class="btn btn-primary">Submit</input>
    </div>
</div>
</form>
        </div>
        </div>
    </div>
</div>
</section>