@using Expense_Manager.Areas.Payments.Models;
@{
    ViewData["Title"] = "Payment Form";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model PaymentModel

<section class="section">
    <div class="row">
        <div class="col-lg-6
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Enter the details of Logbook :</h5>

<form method="post" asp-area="Payments" asp-controller="Payment" asp-action="Save">
    @Html.HiddenFor(x=>x.Payment_Id)
    <div class="row mb-3">
        <label for="Payment_Name" class="col-sm-2 col-form-label">Enter Income Name :</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="Payment_Mode">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10">
            <input type="submit" class="btn btn-primary">Submit</input>
        </div>
    </div>
</form>

 </div>
            </div>
        </div>
    </div>
</section>